@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme="dark"] * {
  color: white !important;
}

html[data-theme="dark"] input,
html[data-theme="dark"] textarea,
html[data-theme="dark"] select {
  color: white !important;
  background-color: rgb(31 41 55) !important;
}

body {
  margin: 0;
  padding: 0;
}