html[data-theme="dark"] * {
  color: white;
}

html[data-theme="dark"] input,
html[data-theme="dark"] textarea,
html[data-theme="dark"] select {
  color: white;
  background-color: rgb(31 41 55);
}

body {
  margin: 0;
  padding: 0;
}

.cm-gutterElement {
  color: #AAAAAA; /* 薄い灰色 */
}

@import "tailwindcss";